<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="19000"
  android:versionName="API1.9.0.0"
  package="com.candy.survivalcraftAPI1_9">
  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />
  <application
    android:label="@string/ApiTitle"
    android:theme="@style/MainTheme"
    android:requestLegacyExternalStorage="true"
    android:icon="@mipmap/icon"
    android:roundIcon="@mipmap/icon_round"
    android:usesCleartextTraffic="true"
    android:localeConfig="@xml/locales_config"
    android:appCategory="game"
    android:isGame="true"
    android:enableOnBackInvokedCallback="false">
    <meta-data
      android:name="android.notch_support"
      android:value="true" />
    <meta-data
      android:name="android.game_mode_config"
      android:resource="@xml/game_mode_config" />
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>
  </application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <queries>
    <package android:name="com.candy.survivalcraft" />
  </queries>
</manifest>